@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Navigasi */
.navbar {
  background-color: #0071ef !important;
}

.navbar-brand {
  transform: translateX(140px);
}

.navbar-brand img {
  width: 300px;
}
.nav-item {
  margin-left: 20px;
  transform: translateX(-210px);
}

.nav-link {
  color: white !important;
  font-weight: bold;
  z-index: 1;
}

.daftar {
  background-color: #f8f9fa;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  color: #0071ef !important;
  transition: 0.5s;
}

.daftar:hover {
  background-color: #0ffc71;
  color: black !important;
}

/* Landingpage */
.kesehatan {
  background-color: #0071ef;
}

.content {
  padding: 60px;
  transform: translateY(50px);
}

.content h1 {
  font-weight: bold;
  color: #fff;
  font-size: 40px;
}

.content p {
  font-size: 23px;
  color: #fff;
  font-style: italic;
}

.tombol {
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  color: #0071ef;
  transition: 0.5s;
  background-color: #fff;
}

.tombol:hover {
  background-color: #0ffc71;
  color: black;
}

/* Layanan */
.layanan {
  background-color: #f8f9fa;
  height: 95vh;
}
.produk {
  padding: 30px;
}
.cards {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  transition: 0.6s;
}
.cards img {
  border-radius: 20px;
}
.cards h4 {
  font-size: 18px;
  font-weight: bold;
}
.cards p {
  font-size: 15px;
}
.cards a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.cards:hover {
  transform: translateY(-20px);
  box-shadow: grey 13px 13px 13px;
  cursor: pointer;
}

/* Dokter */
.doctor {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
  height: 90vh;
}

.produk h2 {
  font-size: 21px;
}

.kartu {
  position: relative;
  width: 23%;
  padding: 0px;
  margin: 10px;
  transition: 0.6s;
  background-color: #fff;
}
.kartu img {
  width: 100%;
}
.spesial1 {
  background-color: #17a2b8;
}
.spesial1 h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.spesial1 p {
  font-weight: bold;
  color: #fff;
}
.spesial2 {
  background-color: #007bff;
}
.spesial2 h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.spesial2 p {
  font-weight: bold;
  color: #fff;
}
.spesial3 {
  background-color: #6610f2;
}
.spesial3 h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.spesial3 p {
  font-weight: bold;
  color: #fff;
}
.spesial4 {
  background-color: #6f42c1;
}
.spesial4 h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.spesial4 p {
  font-weight: bold;
  color: #fff;
}
.hubungi li {
  font-size: 12px;
  transform: translateX(-10px);
}

.kartu:hover {
  transform: translateY(-10px);
  box-shadow: grey 13px 13px 13px;
  cursor: pointer;
}
/* Penawaran Menarik */
.pd {
  padding: 27px;
}
.penawaran {
  position: absolute;
  transform: translateY(30px);
  background-color: #0071ef;
  width: 230px;
  color: white;
  padding: 14px;
  font-weight: bold;
  height: 50px;
  transition: 0.5s;
}

.penawaran:hover {
  margin-left: 20px;
  box-shadow: grey -10px 8px 13px;
  cursor: pointer;
}

.penawaran h4 {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}

.promo {
  background-color: #f8f9fa;
  height: 65vh;
}

.sale {
  transform: translateY(120px);
}

.flexprom {
  position: relative;
  margin: 15px;
  transition: 0.5s;
}
.flexprom img {
  width: 100% !important;
}
.flexprom:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

/* BATAS SUCI REGISTER */

.regist {
  height: 110vh;
}

.register {
  transform: translateY(40px);
  height: 90vh;
}

.pendaftaran {
  background-image: url(/img/health.png);
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
  padding: 20px;
}

.pendaftaran h4 {
  font-weight: bold;
  transform: translateY(105px);
}

.pendaftaran form {
  transform: translateY(130px);
}

.pendaftaran p {
  font-weight: bold;
  transform: translateY(140px);
}

.inputfield {
  background-color: #fff;
  width: 45%;
  height: 2.5rem;
  border-radius: 10px;
  margin: auto;
}

.inputfield i {
  color: black;
  background-color: #fff;
  transform: translateY(5px);
}

.inputfield input {
  border: none;
  margin: auto;
  transform: translateY(5px);
}

.social {
  transform: translateY(160px);
}

.social span {
  padding: 10px;
  background-color: rgb(81, 81, 223);
}

.detail {
  background-image: url(/img/register.png);
  background-size: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
}

.detail h4 {
  color: #fff;
  font-weight: bold;
}

.ditel {
  background-image: url(/img/login.png);
  background-size: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
}

.ditel h4 {
  color: #fff;
  font-weight: bold;
}

/* Pricing */
.pricing {
  height: 80vh;
}

.prices {
  position: relative;
  margin: 10px;
  border-radius: 20px;
  height: 45vh;
  padding: 10px;
  color: black;
  font-weight: bold;
  transform: translateY(90px);
}

.harga {
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

.harga button {
  color: #fff;
}

.harga1 {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
}
.harga1 button {
  color: #fff;
}
.harga2 {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}
.harga2 button {
  color: #fff;
}
.periode {
  font-size: 12px;
  font-style: italic;
}

.feature li {
  text-align: left;
}

/* Footer */
footer {
  background-color: #0d6efd;
  color: #fff !important;
}
.atas {
  padding: 20px;
}

.col h4 {
  font-weight: bold;
  font-size: 19px;
}

.list ul li {
  font-size: 13px;
  transition: 0.7s;
}

.list ul li:hover {
  transform: translateX(20px);
  cursor: pointer;
}

/* Artikel Pages */
.article {
  position: relative;
  height: 80vh;
}

.news {
  padding: 20px;
}

.news h4 {
  font-weight: bold;
}

.headline {
  background-image: url(/img/kesehatan.jpg);
  background-size: cover;
  height: 60vh;
  width: 60%;
  border-radius: 30px;
}

.heading {
  position: relative;
  padding: 20px;
  transform: translateY(210px);
  background-color: #fff;
  width: 90%;
  opacity: 0.8;
  margin: auto;
  height: 140px;
}
.headline a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color:  black;
}

.wrapper {
  width: 30%;
  overflow: auto;
  height: 60vh;
}

.popular {
  display: flex;
  flex-direction: column;
}

.popular img {
  width: 120px;
  border-radius: 10px;
}

.popular a {
  text-decoration: none;
}

.popular a h4 {
  position: relative;
  font-size: 15px;
  width: 280px;
  transform: translateX(140px);
  margin-top: -60px;
  font-weight: bold;
  color: black;
}

.popular p {
  position: relative;
  font-size: 12px;
  transform: translateX(150px);
  margin-top: -5px;
}

.blog {
  height: 110vh;
}

.update {
  border: solid #0071ef 1px;
  margin: 10px;
  transition: 0.8s;
}
.update img {
  padding-top: 20px;
  width: 100%;
}

.title {
  padding: 10px;
}

.title a {
  text-decoration: none;
  color:  black;
}

.title a h4 {
  font-size: 12px;
  justify-content: right;
}

.kategori {
  width: 45%;
  background-color: rgb(69, 233, 233);
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

.update:hover {
  transform: translateY(-20px);
  box-shadow: grey 13px 13px 13px;
}

/* Dashboard */
.dash {
  background-color: #f8f9fa;
  height: 20vh;
}
.board {
  position: relative;
  background-color: #fff;
  height: 60px;
  transform: translateY(30px);
  padding: 10px;
  border-radius: 50px;
  box-shadow: grey 10px 5px 10px;
}

.tron h2 {
  font-family: "Pacifico", cursive !important;
  color: #0071ef;
}

.tron h3 {
  font-family: "Bebas Neue", cursive !important;
  color: #0071ef;
}

/* List Doc */
.listdoc {
  background-color: #f8f9fa;
  height: 120vh;
}

.doc {
  position: relative;
  background-color: #fff;
  height: 110vh;
  box-shadow: grey 10px 5px 10px;
  border-radius: 50px;
}

.docbest {
  height: 110vh;
  padding: 40px;
  text-align: center;
  background-color: #0d6efd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.terbaik {
  padding: 15px;
  height: 50px;
  background-color: #fff;
  border-radius: 15px;
}
.terbaik h4 {
  font-weight: bold;
}

.docterbaik {
  padding: 20px;
  background-color: #fff;
  transform: translateY(20px);
  border-radius: 15px;
}

.docterbaik img {
  width: 100%;
}

.docbout {
  background-color: #fff;
  transform: translateY(30px);
  height: 4vh;
  padding: 7px;
  border-radius: 10px;
}

.docchat {
  background-color: #fff;
  transform: translateY(40px);
  padding: 10px;
  border-radius: 15px;
}

.docchat button {
  width: 90%;
}

.docchat button:hover {
  opacity: 0.8;
}

.docchat button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.doctive {
  padding: 40px;
  background-color: salmon;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.doctive h4 {
  text-align: center;
  font-weight: bold;
}

.doctive h4 i {
  color: rgb(123, 197, 11);
}
/* List doctor online */
.docnow {
  height: 70vh;
  background-color: #fff;
  transform: translateY(20px);
  padding: 20px;
  overflow: auto;
  border-radius: 20px;
}

.oldoc {
  background-color: rgb(148, 148, 255);
  padding: 10px;
  height: 10vh;
  border-radius: 20px;
  margin: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.oldoc:hover {
  transform: translateX(20px);
}

.oldoc img {
  width: 60px;
  transform: translateX(30px);
  border-radius: 10px;
}

.oldoc h6 {
  font-weight: bold;
  margin-left: 100px;
  transform: translateY(-50px);
}
.oldoc p {
  margin-left: 100px;
  transform: translateY(-55px);
}

/* Konsul */
.tasi {
  background-color: #f8f9fa;
  height: 120vh;
}
.konsul {
  position: relative;
  background-color: #fff;
  transform: translateY(80px);
  padding: 20px;
  box-shadow: grey 10px 5px 10px;
  border-radius: 20px;
  height: 100vh;
}
.chatting {
  position: relative;
  background-color: #007bff;
  width: 100%;
  height: 10vh;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: grey 0px 2px 12px 2px;
}

.chatting h4 {
  font-family: "Bebas Neue", cursive !important;
  color: #f5f5f5;
}

.chatting p {
  font-weight: bold;
}

.isichat {
  position: relative;
  background-color: salmon;
  height: 65vh;
  box-shadow: grey 0px 2px 12px 2px;
  padding: 20px;
}

.pesandoc {
  background-color: #007bff;
  padding: 20px;
  width: 40%;
  height: 10vh;
  border-radius: 10px;
}
.pesandoc img {
  width: 50px;
  border-radius: 50px;
}

.pesandoc p {
  margin-left: 70px;
  transform: translateY(-35px);
}

.down {
  transform: translateY(130px);
}
.penggunapesan {
  float: right;
  background-color: #007bff;
  padding: 20px;
  width: 40%;
  height: 10vh;
  border-radius: 10px;
  transform: translateY(20px);
}

.penggunapesan img {
  width: 50px;
  border-radius: 50px;
}

.penggunapesan p {
  margin-left: 70px;
  transform: translateY(-35px);
}

.ketik {
  position: relative;
  background-color: #007bff;
  height: 13vh;
  padding: 10px;
  box-shadow: grey 0px 2px 12px 2px;
}

.ketik form input {
  height: 10vh;
  width: 80%;
  text-align: center;
  outline: none;
  border-radius: 10px;
  border: none;
}

.ketik form button {
  height: 86px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #fff;
}

.ketik form button:hover {
  background-color: salmon;
  color: #fff;
}

/* Halaman Produk */
.halprod {
  height: 200vh;
}

.prdks {
  transform: translateY(40px);
}

.namprod {
  background-color: #007bff;
  padding: 15px;
  width: 25%;
  margin: auto;
  border-radius: 50px;
}
.namprod h2 {
  color: #fff;
  font-size: 25px;
}

.pembatas {
  background-color: #007bff;
  width: 24%;
  padding: 5px;
}
.pembatas h3 {
  text-align: center;
  color: #fff;
}

.medicine {
  padding: 10px;
  background-color: #007bff;
  margin: 10px;
}
.medicine img {
  width: 100%;
}

.medicine h4 {
  color: #fff;
  padding: 10px;
}

.medicine button {
  transition: 0.5s;
}
.medicine button:hover {
  background-color: rgb(17, 187, 17) !important;
}

.medicine button a {
  color: black;
  text-decoration: none;
}

/* DETAIL ARTIKEL */
.doit {
  height: 210vh;
}
.berartikel {
  transform: translateY(50px);
}

.detailartikel h2 {
  font-weight: bold;
}
.detailartikel p {
  padding: 10px;
  justify-content: center;
}
.cardpop {
  position: relative;
  background-color: #007bff;
  padding: 10px;
  margin: 10px;
  height: 9vh;
  width: 80%;
  float: right;
  transition: 0.6s;
}

.cardpop:hover {
  transform: translateX(-30px);
}
.cardpop img {
  width: 100px;
}

.cardpop a {
  text-decoration: none;
}
.cardpop a h4 {
  color: #fff;
  width: 70%;
  margin-left: 110px;
  transform: translateY(-50px);
}

.titpop {
  position: relative;
  float: right;
  background-color: #007bff;
  padding: 10px;
  width: 40%;
  transform: translateX(-10px);
}
.titpop h4 {
  color: #fff;
  text-align: center;
}

/* Detail Produk */
.mainprod {
  height: 105vh;
}

.detprod {
  transform: translateY(30px);
  border: solid 1px;
  height: 90vh;
  border-radius: 20px;
}

.dprod {
  padding: 10px;
  height: 32vh;
}
.dprod img {
  width: 70%;
  height: 30vh;
  float: right;
}

.deprices {
  padding: 10px;
}

.deprices h3 {
  font-weight: bold;
}

.garansi {
  border: solid 1px;
  padding: 20px;
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.garansi p {
  color: red;
  font-weight: bold;
}

.desc {
  padding: 20px;
}
.desc h4 {
  font-weight: bold;
}

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
  .navbar-brand {
    transform: translateX(-20px);
  }
  .nav-item {
    transform: translateX(10px);
  }
  .gambar img {
    transform: translateY(15px);
  }
  .content {
    transform: translateY(10px);
  }
  .content h1 {
    font-size: 20px;
  }
  .content p {
    font-size: 20px;
  }
  .layanan {
    height: 105vh;
  }
  .cards {
    margin: 5px;
  }
  .cards img {
    width: 40px;
    border-radius: 10px;
  }
  .cards h4 {
    font-size: 12px;
  }
  .cards p {
    font-size: 10px;
  }
  .cards button {
    font-size: 10px;
  }

  .spesial1 h4 {
    font-size: 12px;
  }
  .spesial1 p {
    font-size: 12px;
  }
  .spesial2 h4 {
    font-size: 12px;
  }
  .spesial2 p {
    font-size: 12px;
  }
  .spesial3 h4 {
    font-size: 12px;
  }
  .spesial3 p {
    font-size: 12px;
  }
  .spesial4 h4 {
    font-size: 12px;
  }
  .spesial4 p {
    font-size: 12px;
  }
  .hubungi li {
    font-size: 8px;
  }
  .penawaran {
    width: 160px;
    height: 40px;
  }
  .penawaran h4 {
    font-size: 13px;
  }
  .sale {
    transform: translateY(50px);
  }
  .inputfield {
    width: 70%;
    height: 40px;
  }
  .inputfield input {
    width: 80%;
  }
  .pricing {
    height: 120vh;
  }
  .prices {
    height: 112vh;
  }
  .feature li {
    font-size: 14px;
  }
  .heading {
    height: 12rem;
  }
  .blog {
    height: 70vh;
  }
  /* dashboard */
  .doc {
    height: 60vh;
  }
  .docbest {
    height: 60vh;
  }
  .doctive {
    height: 60vh;
  }
  .docnow {
    height: 45vh;
  }
  .oldoc img {
    transform: translateX(15px);
  }
  .oldoc h6 {
    font-size: 15px;
    margin-left: 85px;
  }
  .oldoc p {
    font-size: 12px;
    width: 150px;
    margin-left: 85px;
  }
  /* Detail Artikel */
  .doit {
    height: 270vh;
  }
  .detailartikel h2 {
    font-size: 18px;
  }
  .detailartikel img {
    width: 85%;
  }

  .detailartikel p {
    font-size: 15px;
    transform: translateX(-12px);
  }
  .titpop h4 {
    font-size: 14px;
  }

  .cardpop {
    width: 80%;
  }

  .cardpop a h4 {
    font-size: 12px;
    width: 50%;
  }

  .mainprod {
    height: 120vh;
  }
  .detprod {
    height: 110vh;
  }

}
@media only screen and (max-width: 767px) {
  .navbar-brand {
    transform: translateX(-20px);
  }
  .nav-item {
    transform: translateX(10px);
  }
  .content {
    padding: 30px;
  }
  .content h1 {
    font-size: 18px;
  }
  .content p {
    font-size: 18px;
  }
  .cards {
    width: 22%;
  }
  .cards h4 {
    font-size: 8px;
  }
  .cards p {
    font-size: 7px;
  }
  .cards a {
    font-size: 9px;
  }
  .spesial1 h4 {
    font-size: 11px;
  }
  .spesial1 p {
    font-size: 10px;
  }
  .spesial2 h4 {
    font-size: 11px;
  }
  .spesial2 p {
    font-size: 10px;
  }
  .spesial3 h4 {
    font-size: 11px;
  }
  .spesial3 p {
    font-size: 10px;
  }
  .spesial4 h4 {
    font-size: 11px;
  }
  .spesial4 p {
    font-size: 10px;
  }
  .doctor {
    height: 240vh;
  }
  .list p {
    font-size: 11px;
  }
  .list ul li {
    font-size: 11px;
  }
  .inputfield {
    width: 90%;
  }
  .pricing {
    height: 120vh;
  }
  .prices {
    height: 112vh;
  }
  .feature li {
    font-size: 11px;
  }
  .blog {
    height: 160vh;
  }
  /* Dashboard */
  .doc {
    height: 150vh;
  }
  .batas {
    margin: 30px;
  }
  .docbest {
    height: 75vh;
    border-radius: 20px;
  }
  .doctive {
    height: 60vh;
    border-radius: 20px;
  }
  .listdoc {
    height: 160vh;
  }
  /* Konsultasi */
  .pesandoc {
    width: 85%;
  }
  .penggunapesan {
    width: 85%;
  }
  .down img {
    transform: translateY(-65px);
  }
  .down p {
    transform: translateY(-110px);
  }
  .tasi {
    height: 125vh;
  }
  .doit {
    height: 250vh;
  }
  .detailartikel h2 {
    font-size: 14px;
  }
  .detailartikel p {
    font-size: 12px;
  }
  .titpop h4 {
    font-size: 12px;
  }

  .cardpop {
    width: 100%;
  }
  .cardpop a h4 {
    font-size: 10px;
  }
  .mainprod {
    height: 130vh;
  }

  .detprod {
    height: 120vh;
  }

  .halprod {
    height: 370vh;
  }
  .pembatas h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 546px) {
  .content h1 {
    font-size: 17px;
  }
  .conten p {
    font-size: 17px;
  }
  .copyright p {
    font-size: 11px;
  }
  .heading {
    height: 15rem;
  }
}
@media only screen and (max-width: 390px) {
  .navbar-brand {
    width: 200px;
    padding: 5px;
  }
  .navbar-brand img {
    width: 300px;
  }
  .gambar {
    display: none;
  }
  .content h1 {
    font-size: 25px;
  }
  .content p {
    font-size: 20px;
  }
  .layanan {
    height: auto;
  }
  .row {
    flex-direction: column;
  }
  .cards {
    width: 90%;
    margin: 20px;
    justify-content: center;
  }
  .cards img {
    width: 120px;
  }
  .cards h4 {
    font-size: 20px;
  }
  .cards p {
    font-size: 18px;
  }
  .cards button {
    font-size: 15px;
  }
  .kartu {
    width: 90%;
  }
  .spesial1 h4 {
    font-size: 18px;
  }
  .spesial1 p {
    font-size: 16px;
  }
  .spesial2 h4 {
    font-size: 18px;
  }
  .spesial2 p {
    font-size: 16px;
  }
  .spesial3 h4 {
    font-size: 18px;
  }
  .spesial3 p {
    font-size: 16px;
  }
  .spesial4 h4 {
    font-size: 18px;
  }
  .spesial4 p {
    font-size: 16px;
  }
  .stabil {
    transform: translateX(10px);
  }

  .doctor {
    height: auto;
  }

  .promo {
    height: auto;
  }

  .pd {
    padding: 12px;
  }
  .sale {
    transform: translateX(-15px);
    margin-top: 60px;
  }
  .autflex {
    flex-direction: column;
  }

  footer {
    height: auto;
    bottom: 0;
  }
  .detail {
    display: none;
  }
  .register {
    height: auto;
  }
  .regist {
    height: 75vh;
  }
  .pendaftaran {
    width: 90%;
    border-radius: 20px;
    margin: auto;
  }

  .pendaftaran h4 {
    transform: translateY(5px);
  }
  .pendaftaran p {
    transform: translateY(5px);
  }

  .pendaftaran form {
    transform: translateY(5px);
  }
  .social {
    transform: translateY(5px);
  }

  .ditel {
    display: none;
  }
  .pricing {
    height: auto;
  }
  .prices {
    width: 80%;
    transform: translateX(30px);
  }
  .respon {
    flex-direction: column;
  }
  .article {
    height: 140vh;
  }
  .headline {
    width: 90%;
    margin: auto;
  }
  .wrapper {
    transform: translateY(170px);
    width: 90%;
    overflow: hidden;
  }

  .popular a {
    text-decoration: none;
  }
  .popular h4 {
    transform: translateX(130px);
    width: 270px;
  }
  .popular p {
    transform: translateX(150px);
  }
  .blog {
    height: auto;
  }
  .update {
    width: 90%;
    justify-content: space-between;
    transform: translateX(11px);
  }
  /* Dashboard */
  .board {
    height: 12vh;
  }
  .doc {
    height: 135vh;
  }
  .docbest {
    width: 90%;
    transform: translateX(-11px);
  }
  .oldoc img {
    transform: translateX(5px);
  }
  .oldoc h6 {
    font-size: 12px;
    margin-left: 70px;
  }
  .oldoc p {
    font-size: 9px;
    margin-left: 70px;
    width: 120px;
  }
  .terbaik {
    transform: translateY(-10px);
  }
  .docterbaik {
    transform: translateY(-5px);
  }
  .docbout {
    transform: translateY(10px);
  }
  .docchat {
    transform: translateY(18px);
  }
  .doctive {
    width: 90%;
    transform: translateX(-11px);
  }
  .listdoc {
    height: 140vh;
  }
  .pesandoc {
    width: 90%;
  }
  .pesandoc p {
    transform: translateY(-50px);
  }

  .penggunapesan p {
    transform: translateY(-50px);
  }

  .down p {
    transform: translateY(-120px);
    font-size: 14px;
  }
  .doit {
    height: 280vh;
  }

  .dprod img {
    float: none;
    transform: translateX(45px);
  }

  .mainprod {
    height: 200vh;
  }
  .detprod {
    height: 190vh;
  }

  .garansi {
    width: 90%;
  }

  .garansi p {
    font-size: 12px;
  }
  .halprod {
    height: 710vh;
  }

  .namprod {
    width: 60%;
  }

  .pembatas h3 {
    font-size: 13px;
  }
  .medicine {
    transform: translateX(-10px);
  }
}
@media only screen and (max-width: 388px) {
  .content h1 {
    font-size: 20px;
  }
  .content p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .regist {
    height: 80vh;
  }
}

@media only screen and (max-width: 327px) {
  .navbar-brand img {
    width: 260px;
  }
  .content h1 {
    font-size: 18px;
  }
  .content p {
    font-size: 18px;
  }
  .tombol {
    width: 180px;
    height: 40px;
  }
  .layanan {
    height: 455vh;
  }
  .cards img {
    width: 120px;
  }
  .cards h4 {
    font-size: 20px;
  }
  .cards p {
    font-size: 18px;
  }
  .cards button {
    font-size: 15px;
  }
  .promo {
    height: 145vh;
  }

  .doctor {
    height: 390vh;
  }
  footer {
    height: 145vh;
  }
  .regist {
    height: 120vh;
  }
  .prices {
    transform: translateX(27px);
  }
  .doit {
    height: 290vh;
  }
  .halprod {
    height: 620vh;
  }
  .pembatas h3 {
    font-size: 10px;
  }
}
